.starIcon {
    margin-right: 2px; /* Optional: space between stars */
    vertical-align: middle; /* Aligns the stars vertically in the middle of text */
}

.couponApply{
    height: 30px;
}
.shareBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.CouponInput {
    width: 150px; /* Set the desired width */
    border: 1px solid red; /* Red border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px; /* Padding for better spacing */
    background-color: white; /* Background color */
    color: black; /* Text color */
  }
  
  /* Optional: Change the style when focused */
  .CouponInput:focus {
    outline: none; /* Remove default outline */
    border-color: darkred; /* Darker red on focus */
  }
  
  /* Optional: Style for error state */
  .CouponInput.error {
    border-color: red; /* Red border for error */
  }

  .coup{
    display: flex;
    flex-direction: column;
  }
  .coup p{
    margin: 1px;
  }
  

  .circleButton {
    background-color: #ddd;
    border: none; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .circleButton:hover {
    background-color: #ccc; 
  }
  
  .review-item div{
    display: flex;
    padding-left: 5%;
  }

  .review-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    gap: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
  }

  .reviewDiv{
    flex-direction: column;
    margin-left: 5%;
  }
  .reviewer{
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .review-section p{
    padding: 0;
    margin: .1rem;
  }
  .quantity-controls{
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px){
    .review-section{
    }
    .reviewDiv{
      margin-left: 2rem;
    }
  }