/* Import necessary fonts only once */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Archivo+Black&family=Poiret+One&display=swap');

/* General resets */
* {
  text-decoration: none;
}
body a {
  text-decoration: none;
  color: black;
}
p, h1, h2, h4, h5 {
  margin: 0;
  padding: 0;
}

/* Font Styles */
h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h5 {
  font-family: "Poiret One", sans-serif;
  font-weight: 580;
  font-style: normal;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

span {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: small;
  text-decoration: line-through;
}

/* Utility classes */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.productPercentageText {
  color: red;
}

.taxText {
  color: green;
}

.h2Style {
  padding-left: 7%;
}

/* Specific button class */
.rcb-toggle-button {
  width: 10px;
}
