.ProductDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: .5rem;
    gap: 2rem;
}

.ProductDetailsLeft{
    display: flex;
}
.ProductDetailsRight{
    width: 600px;
}
.productlikeDiv{
    width: 100%;
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.quantity-controls{
    width: 20%;
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
}
.addToCartDiv{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.productListNavTitle{
    margin-left: 2rem;
}
.ProductDetailsRight p{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.priceDiv{
    display: flex;
    gap: .5rem;
}
.serviceDiv{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.serviceBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serviceiconImg{
    width: 25px;
}
.serviceText{
    font-size: small;
}
.aboutproduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .ProductDetails{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }
    .ProductDetails div{
        width: 95%;
    }
    p{
        margin: 0;
    }
    .ProductDetails{
        gap: 0;
    }
    .productDetailsImg{
        width: 80%;
    }
    .serviceDiv{
        width: 100%;
    }
    .ProductDetailsRight p{
        margin-bottom: 1rem;
    }
    .aboutproduct p{
        font-size: small;
        margin-bottom: .5rem;
    }
    .aboutproduct h4{
        font-size: small;
        margin-bottom: .5rem;
    }
    .serviceBox{
        gap: .5rem;
    }
    .productListNavTitle{
        margin: 0;
        font-size: x-small;
        padding-left: 10px;
    }
  }